.demo-card-wide {
    margin: 20px auto 40px;
}

.mdl-card {
    position: static;
}

#feedback {
    text-align: right;
    float: right;
}

.fixed-save {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.mdl-card__supporting-text > p:last-child,
.mdl-card__supporting-text > ul:last-child,
.mdl-card__actions  > p:last-child {
    margin-bottom: 0;
}
